<!DOCTYPE html>

<html>

<head>
    
    <title>
        <%=title%>
    </title>
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>


</head>

<body>
  

    <!-- BODY -->
    <%- body %>

      

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="/js/fileviewr.js"></script>

</body>

</html